.inputBlock {

}

input {
    outline: 2px solid greenyellow;
    height: 30px;
    width: 230px;
    padding-left: 5px;
    border-radius: 5px;
}

.validationError {
    outline: 2px solid red;
    position: relative;
    display: flex;
}

span[data-descr] {
    position: relative;
}

span[data-descr]::after {
    content: attr(data-descr);
    position: absolute;
    /*left: -115px;*/
    top: 5px;
    min-width: 200px;
    outline: 2px solid red;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 15px;
    color: red;
    font-size: 18px;
    z-index: 1;
}
